# Nuxt dev/build outputs
.output/
.nuxt/
.nitro/
.cache/
.data/
.vercel/
dist/

# Node dependencies
node_modules/

# Logs
logs/
*.log

# Prisma generated client
prisma/generated/

# Local env files
.env
.env.*
!.env.example

# Database data (Docker volume bind-mount)
pgdata/

# IDE / Editors
.DS_Store
.fleet/
.idea/
.vscode/

# OS files
Thumbs.db
Desktop.ini

# PWA dev artifacts
dev-dist/
